.navbar-bg {
    background-color: #f6f6f7;
}

.activity {
    display: flex;
    flex-direction: column;
}

.font-colour {
    color: #888888;
}

.required-star {
    color: #C90000;
}

.product-holder {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2rem;
}

.cart-holder {
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: inherit;
    overflow-y: auto;
    padding: 12px;
    display: flex;
}

.cart-header {
    display: block;
}