

/* Colour Schemes */

.navbar-bg {
    background-color: #f6f6f7;
}

.font-colour {
    color: #888888;
}

.required-star {
    color: #C90000;
}

.product-holder {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 2rem;
}