.product-image {
    max-height: 600px;
    max-width: 400px;
    margin-right: 160px;
}

.product-details {
    width: 400px;
    color: #888888;
    font-size: 12px;
    margin-bottom: 30px;
    display: block;
}

.product-name {
    padding-bottom: 0.75rem;
    color: #222222;
}

.product-price {
    color: #222222;
    padding-top: 6px;
    padding-bottom: 8px;
    font-weight: 700;
}

.product-holder {
    display: flex;
    align-items: stretch;
    margin-top: 2rem;
}

.selected-size {
    color: #222222;
    margin-left: 4px;
}

.add-to-cart-button{
    width: 150px;
    height: 35px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid #222222;
    background: none;
    margin-top: 15px;
    outline: none;
}

.add-to-cart-button:hover {
    background: #222222;
    color: #ffffff;
}

.add-to-cart-button:active {
    outline: none;
}

.error-text {
    margin-bottom: 0;
    color: #C90000;
    font-weight: 700;
    font-size: 14px;
}

.error-holder {
    width: 135px;
    text-align: center;
}

.size-section {
    font-weight: 600;
    padding-top: 12px;
}

.size-button {
    width: 40px;
    height: 40px;
    color: #888888;
    border: 1px solid #cccccc;
    font-size: 12px;
    margin-right: 7px;
    background: none;
}

.size-button:focus {
    outline: none;
    border: 2px solid #222222;
}