.product-image {
    max-height: 600px;
    max-width: 400px;
    margin-right: 160px;
}

.product-details {
    width: 400px;
    color: #888888;
    font-size: 12px;
    margin-bottom: 30px;
    display: block;
}

.product-holder {
    display: flex;
    align-items: stretch;
    margin-top: 2rem;
}

.selected-size {
    color: #222222;
    margin-left: 4px;
}

.size-section {
    font-weight: 600;
}

.size-button {
    width: 40px;
    height: 40px;
    color: #888888;
    border: 1px solid #cccccc;
    font-size: 12px;
    margin-right: 7px;
    background: none;
}

.size-button:focus {
    outline: none;
    border: 3px solid #222222;
}